.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.center {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 2.5rem;
    font-weight: 400;
}