mat-list {
    padding: 0;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-item {
    color: #845007;
    outline: none;
    cursor: pointer;

    &:not(.active):hover {
        background-color: darken(#f8f8f8, 5%);
    }
}

.active {
    background-color: #3a4660;
    color: white;
}



