<!-- <div class="background"> -->
  <header class="header background">
    <div class="text-box">
        <div class="heading-primary">
          <span class="heading-primary-main">Buy Shoes</span>
          <span class="heading-primary-sub">because life is short</span>
        </div>
        <button  routerLink="/products" mat-raised-button class="primary heading-primary-button">
          Shop Now
        </button>
    </div>
  </header>




  <!-- <div class="content">
    <div class="content__title">
        <h1>SHOE SOURCE</h1>
    </div>
    <button  routerLink="/products" mat-raised-button class="primary content__button">
        SHOP NOW
    </button>
  </div> -->
<!-- </div> -->